#page-wrapper{
  margin:0;
}

.navbar-font>li>a{
  font-size: 17px;

}
.brand-font{
  font-size: 25px;
  font-weight: bolder;
}
#toast-container > .toast:before {
  float: right;
  /*by hatem*/
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 24px;
  /*float: left;*/
  color: #FFF;
  padding-right: 0.5em;
  margin: auto -2.0em auto 0.5em;

}


#toast-container > .toast-warning:before {
  content: "";
}
#toast-container > .toast-error:before {
  content: "";
}
#toast-container > .toast-info:before {
  content: "";
}
#toast-container > .toast-success:before {
  content: "";
}
